[Unit]
Description=Plex Media Server
After=rpcbind.service
Wants=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill plex
ExecStartPre=-/usr/bin/docker rm plex
ExecStart=/usr/bin/docker run -v /mnt/lun0/media:/media:ro -v /mnt/lun0/software/docker/plex:/var/lib/plexmediaserver/:rw --name="plex" -p 32400:32400 plex

[Install]
WantedBy=multi-user.service