[Unit]
Description=Plex Media Server
After=docker.service user-config.target
Requires=docker.service user-config.target

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill plex
ExecStartPre=-/usr/bin/docker rm plex
ExecStartPre=-/usr/bin/rm '/mnt/lun0/software/docker/plex/Library/Application/Plex Media Server/plexmediaserver.pid'
ExecStart=/usr/bin/docker run --rm -v /mnt/lun0/media:/media:ro -v /mnt/lun0/software/docker/plex:/var/lib/plexmediaserver/:rw --name="plex" --net=host nicholasvmoore/docker-plex
ExecStop=/usr/bin/docker stop plex

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=plex*
MachineMetadata=cores=4
